.bg-hero{
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    margin-left: 0;
    margin-right: 0;
}